body{
    background-color: #fafafa;
}
.fon{
    margin-left: 340px;
    padding-top: 35px;
}
.logoo{
    margin-left: 890px;
    margin-top: -540px;
}
.login{
    display: flexbox;
    align-items: center;
    width: 350px;
    height: 280px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    margin-left: 800px;
    margin-top: -80px;
    padding-top: 90px;
    border-radius: 5px;
}
.username{
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
    margin: 17px 21px -1px 18px;
    padding: 3px 20px;
    width: 270px;
    height: 30px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    border-radius: 6px;
    font-size: 14px;
}
.btnn{
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: DodgerBlue;
    margin-top: 22px;
    width: 307px;
    height: 40px;
    margin: 17px 26px 0px 22px;
    padding: 3px 20px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 700;
    color: #ffffff;
    opacity: 0.7;
}
.or{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.or hr{
    width: 104px;
    margin: 0 5px;
    border: 0.5px solid #dbdbdb;
}
.or span{
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.facebook{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    padding-top: 20px;
    margin-left: 35px;
    text-decoration: none;
}
.fb{
    margin-right: 0px;
}
.facebook a{
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.forgot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    padding-top: 12px;
    margin-left: 35px;
    font-size: 10px;
}
.forgot a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    margin: 0 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.reg{
    display: flexbox;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    margin-top: 40px;
    border-radius: 5px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 450;
    font-size: 14px;
}
.app{
    text-align: center;
    
}
.fin{
    width: 930px;
    margin-top: 300px;
    margin-bottom: auto;
    display: flex;
    text-align: center;
    margin-left: 292px;
}
.fin p{
    line-height: 2;
    text-align: center;
    color: #8a8d91;
    text-align: center;
    opacity:0.6;
}